#login-section{
	background-image: url("./proj_illustration.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	margin-top: 0px;
	padding: 0px;
}