.container{
	width: 100%;
	margin: 20px auto;
	/* border: 3px solid red; */
	columns:4;
	column-gap: 20px;
}


@media(max-width:1200px){
	.container{
		width: calc(100%-40px);
		margin: 10px auto;
		/* border: 3px solid red; */
		columns: 3;
		column-gap: 20px;
		box-sizing: border-box;
	}
}
@media(max-width:768px){
	.container{	
		columns: 2;
	
	}
}
@media(max-width:480px){
	.container{	
		columns: 1;
	
	}
}